.select2{
    background: #7eb4e2 !;
}
.select2-selection__rendered {
    line-height: 35px !important;
}
.select2-container .select2-selection--single {
    border: 0.7px solid #d7dce1 !important;
    height: 39px !important;
}
.btn-exportexcel-aset{
    max-width: 11vw !important;
}


/* Change background color of buttons on hover */
.tab button:hover {
  color: black;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  /* border: 1px solid #ccc; */
  border-top: 1px solid #ccc;
}

.tabcontent.active {
    display: block;
}

/* for mobile */
@media only screen and (max-width: 768px) {

    .iconitem i {
        position: absolute;
        margin-top: 5px;
        right: 25px;
        opacity: 0.6;
        font-size: 40px;
        transition: 0s;
    }

    .iconitem.hide i {
        font-size: 30px;
        color: brown;
    }

    .expand {
        width: calc(var(--nav-width) + 200px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 220px) !important;
    }
    /* For desktop: */
    .sidebar, .sidebar.close, .toggle {
        display: none !important;
    }
    #content{
        overflow: hidden !important;
        width: 100%;
        padding: 0;
    }
    #content.span{
        overflow: hidden !important;
        width: 100%;
        padding: 0;
    }

    .btn-exportexcel-aset{
        max-width: none !important;
    }

    .hamburger{
        display: block !important;
    }

    .mobile-margin{
        margin-top: 3rem !important;
    }

    .header-peminjaman > .title, .button{
        text-align: center !important;
    }

    #data-diri-penanggung-jawab, #sarana-prasarana, #penanggung-jawab{
        margin-top: 17px;
    }

    #column-mobile{
        display: flex;
        flex-direction: column;
    }

    .modal-detail-daftar-barang{
        left: 0 !important;
    }

    .header.body-pd > .name-notif{
        display: none !important;
    }

    .row-aset, .row-filter, .row-tambah, .row-edit, .row-ruangan, .row-unit{
        flex-direction: column !important;
    }
}
